{
  "name": "murder.site44.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_sass/main.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"outputSuffix\":null}"
    },
    {
      "path": "con_m/post/two/story2.md",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":true,\"githubFlavored\":true,\"wrapWithHtml\":false},\"outputSuffix\":null}"
    },
    {
      "path": "home/fullPage/slides1/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "home/fullPage/slides/paral.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "con_m/post/two",
      "post/two",
      "home/fullPage/slides1",
      "home",
      "home/fullPage",
      "home/fullPage/slides"
    ],
    "hideSystemFiles": false,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_part/_shellA-base.pug",
      "imports": [
        "_part/_head.pug"
      ]
    },
    {
      "path": "_sass/_muiBase.scss",
      "imports": [
        "_sass/sass/mui.scss",
        "_sass/sass/normalize-5.0.0.scss",
        "_sass/sass/mui/_colors.scss",
        "_sass/sass/mui/_variables.scss",
        "_sass/sass/mui/_mixins.scss",
        "_sass/sass/mui/_reboot.scss",
        "_sass/sass/mui/_appbar.scss",
        "_sass/sass/mui/_buttons.scss",
        "_sass/sass/mui/_checkbox-and-radio.scss",
        "_sass/sass/mui/_containers.scss",
        "_sass/sass/mui/_divider.scss",
        "_sass/sass/mui/_form.scss",
        "_sass/sass/mui/_grid.scss",
        "_sass/sass/mui/_panel.scss",
        "_sass/sass/mui/_tabs.scss",
        "_sass/sass/mui/_textfield.scss",
        "_sass/sass/mui/_helpers.scss",
        "_sass/sass/mui/_ripple.scss",
        "_sass/sass/mui/_typography.scss",
        "_sass/sass/mui/mixins/_grid-framework.scss",
        "_sass/sass/mui/mixins/_util.scss",
        "_sass/sass/mui/mixins/_buttons.scss",
        "_sass/sass/mui/mixins/_typography.scss",
        "_sass/sass/mui/mixins/_forms.scss"
      ]
    },
    {
      "path": "_sass/main.sass",
      "imports": [
        "_sass/_muiBase.scss",
        "_sass/sass/mui.scss",
        "_sass/sass/normalize-5.0.0.scss",
        "_sass/sass/mui/_colors.scss",
        "_sass/sass/mui/_variables.scss",
        "_sass/sass/mui/_mixins.scss",
        "_sass/sass/mui/_reboot.scss",
        "_sass/sass/mui/_appbar.scss",
        "_sass/sass/mui/_buttons.scss",
        "_sass/sass/mui/_checkbox-and-radio.scss",
        "_sass/sass/mui/_containers.scss",
        "_sass/sass/mui/_divider.scss",
        "_sass/sass/mui/_form.scss",
        "_sass/sass/mui/_grid.scss",
        "_sass/sass/mui/_panel.scss",
        "_sass/sass/mui/_tabs.scss",
        "_sass/sass/mui/_textfield.scss",
        "_sass/sass/mui/_helpers.scss",
        "_sass/sass/mui/_ripple.scss",
        "_sass/sass/mui/_typography.scss",
        "_sass/sass/mui/mixins/_grid-framework.scss",
        "_sass/sass/mui/mixins/_util.scss",
        "_sass/sass/mui/mixins/_buttons.scss",
        "_sass/sass/mui/mixins/_typography.scss",
        "_sass/sass/mui/mixins/_forms.scss"
      ]
    },
    {
      "path": "_sass/sass/mui-colors.scss",
      "imports": [
        "_sass/sass/mui/_colors.scss"
      ]
    },
    {
      "path": "_sass/sass/mui.scss",
      "imports": [
        "_sass/sass/normalize-5.0.0.scss",
        "_sass/sass/mui/_colors.scss",
        "_sass/sass/mui/_variables.scss",
        "_sass/sass/mui/_mixins.scss",
        "_sass/sass/mui/_reboot.scss",
        "_sass/sass/mui/_appbar.scss",
        "_sass/sass/mui/_buttons.scss",
        "_sass/sass/mui/_checkbox-and-radio.scss",
        "_sass/sass/mui/_containers.scss",
        "_sass/sass/mui/_divider.scss",
        "_sass/sass/mui/_form.scss",
        "_sass/sass/mui/_grid.scss",
        "_sass/sass/mui/_panel.scss",
        "_sass/sass/mui/_tabs.scss",
        "_sass/sass/mui/_textfield.scss",
        "_sass/sass/mui/_helpers.scss",
        "_sass/sass/mui/_ripple.scss",
        "_sass/sass/mui/_typography.scss",
        "_sass/sass/mui/mixins/_grid-framework.scss",
        "_sass/sass/mui/mixins/_util.scss",
        "_sass/sass/mui/mixins/_buttons.scss",
        "_sass/sass/mui/mixins/_typography.scss",
        "_sass/sass/mui/mixins/_forms.scss"
      ]
    },
    {
      "path": "home/compEx/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "home/compEx/index0.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "home/fetch/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "home/fetch/one.html",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "home/fetch/indexUI.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "home/fullPage/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "home/fullPage/story2.html",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "members/signOn/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "members/signOn/story1.html",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "post/one/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "con_m/post/one/story1.html",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "post/two/index.pug",
      "imports": [
        "_part/_shellA-base.pug",
        "con_m/post/two/story2.html",
        "_part/_footer.pug",
        "_part/_head.pug"
      ]
    },
    {
      "path": "_sass/_hover_fx/scss/hover.scss",
      "imports": [
        "_sass/_hover_fx/scss/_options.scss",
        "_sass/_hover_fx/scss/_mixins.scss",
        "_sass/_hover_fx/scss/_hacks.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_grow.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_shrink.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_pulse.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_pulse-grow.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_pulse-shrink.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_push.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_pop.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_bounce-in.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_bounce-out.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_rotate.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_grow-rotate.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_float.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_sink.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_bob.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_hang.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_skew.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_skew-forward.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_skew-backward.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-vertical.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-horizontal.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-to-bottom-right.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-to-top-right.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-top.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-bottom.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_wobble-skew.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_buzz.scss",
        "_sass/_hover_fx/scss/effects/2d-transitions/_buzz-out.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_fade.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_back-pulse.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_sweep-to-right.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_sweep-to-left.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_sweep-to-bottom.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_sweep-to-top.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_bounce-to-right.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_bounce-to-left.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_bounce-to-bottom.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_bounce-to-top.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_radial-out.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_radial-in.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_rectangle-in.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_rectangle-out.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_shutter-in-horizontal.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_shutter-out-horizontal.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_shutter-in-vertical.scss",
        "_sass/_hover_fx/scss/effects/background-transitions/_shutter-out-vertical.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_border-fade.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_hollow.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_trim.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_ripple-out.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_ripple-in.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_outline-out.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_outline-in.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_round-corners.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_underline-from-left.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_underline-from-center.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_underline-from-right.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_overline-from-left.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_overline-from-center.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_overline-from-right.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_reveal.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_underline-reveal.scss",
        "_sass/_hover_fx/scss/effects/border-transitions/_overline-reveal.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_glow.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_shadow.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_grow-shadow.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_box-shadow-outset.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_box-shadow-inset.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_float-shadow.scss",
        "_sass/_hover_fx/scss/effects/shadow-and-glow-transitions/_shadow-radial.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-top.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-right.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-bottom.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-left.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-float-top.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-float-right.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-float-bottom.scss",
        "_sass/_hover_fx/scss/effects/speech-bubbles/_bubble-float-left.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-back.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-forward.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-down.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-up.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-spin.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-drop.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-fade.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-float-away.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-sink-away.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-grow.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-shrink.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-pulse.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-pulse-grow.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-pulse-shrink.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-push.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-pop.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-bounce.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-rotate.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-grow-rotate.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-float.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-sink.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-bob.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-hang.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-wobble-horizontal.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-wobble-vertical.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-buzz.scss",
        "_sass/_hover_fx/scss/effects/icons/_icon-buzz-out.scss",
        "_sass/_hover_fx/scss/effects/curls/_curl-top-left.scss",
        "_sass/_hover_fx/scss/effects/curls/_curl-top-right.scss",
        "_sass/_hover_fx/scss/effects/curls/_curl-bottom-right.scss",
        "_sass/_hover_fx/scss/effects/curls/_curl-bottom-left.scss"
      ]
    },
    {
      "path": "_sass/sass/mui/_mixins.scss",
      "imports": [
        "_sass/sass/mui/mixins/_grid-framework.scss",
        "_sass/sass/mui/mixins/_util.scss",
        "_sass/sass/mui/mixins/_buttons.scss",
        "_sass/sass/mui/mixins/_typography.scss",
        "_sass/sass/mui/mixins/_forms.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "sass",
      "scss",
      "pug",
      "md",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": false,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\"},\"compiler-pug\":{\"pretty\":false},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-cssnext\":{\"enabled\":true}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\"},\"compiler-markdown\":{\"sanitize\":true,\"wrapWithHtml\":false},\"outputSuffix\":null}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": true,
      "drop_console": true,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": false,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": false,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": true
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}